.left {
    width: 25%;

    padding: 0.25rem;

    height: 100%;
}

.left_header {
    padding: 0.5rem 0 0.5rem 0;
}

.right {
    width: 75%;

    margin-right: -0.5rem;
    padding: 0.25rem;
}

.right_header {
    padding: 0.5rem 0 0.5rem 0;

    display: flex;
    align-items: center;
}

.title {
    flex: 1;
    padding: 0.25rem;
    font-size: 16px;
}

.select {
    
}

.input {
    outline: none;
}

.card_container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 25%;

    padding: 0.25rem;
    box-sizing: border-box;
}