.container {
    display: flex;
    align-items: center;
}

.input {
    margin: 0;
    padding: 0.5rem 0 0.5rem 0.25rem;
    font-size: 12px;
}

.label {
    padding: 0.5rem 0 0.5rem 0.25rem;
    font-size: 12px;
}